.sidebarli {
    display: flex;
    padding: 12px;
    align-items: center;
    cursor: pointer;
    background: #e0f2fe;
}

.sidebarli:hover {
    background: rgb(231, 225, 225);
}

.active-link {
    background: red;
    color: white;
    

}